{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/css/add.css" />
{% endblock %}
{% block title %}Add{% endblock %}

{% block body %}
<main class="content">
    <form method="post" class="form">
        <!-- Title -->
        <div class="input-wrapper">
            <label for="title" class="form-label">Title</label>
            <input
                class="input"
                id="title"
                name="title"
                type="text"
                placeholder="Title"
                autofocus
                autocomplete="off"
                required
            >
        </div>

        <!-- Link -->
        <div class="input-wrapper">
            <label for="link" class="form-label">Link</label>
            <input
                class="input"
                id="link"
                name="link"
                type="url"
                placeholder="https://example.com"
                autocomplete="off"
                required
            >
        </div>

        <!-- Status -->
        <div class="input-wrapper">
            <label for="status" class="form-label">Status</label>
            <select class="input" id="status" name="status" required>
                {% for s in status %}
                    <option value="{{ s.value }}">{{ s.value }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Tags -->
        <div class="input-wrapper">
            <label for="tag" class="form-label">Tag</label>
            <select class="input" id="tag" name="tag" required>
                {% for p in tag %}
                    <option value="{{ p.value }}">{{ p.value }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Difficulty -->
        <fieldset class="input-wrapper">
            <legend class="form-label">Difficulty</legend>

            {% for d in difficulty %}
                <label class="radio-input-container">
                    <input
                        class="input"
                        id="difficulty-{{ d.value }}"
                        type="radio"
                        name="difficulty"
                        value="{{ d.value }}"
                        required
                    >
                    <div class="form-check-label" for="difficulty-{{ d.value }}">
                        {{ d.value }}
                    </div>
                </label>
            {% endfor %}
        </fieldset>

        <!-- Revisit -->
        <div class="form-check input-wrapper">
            <input
                class="input"
                id="revisit"
                type="checkbox"
                name="revisit"
            >
            <label class="form-check-label" for="revisit">
                Revisit
            </label>
        </div>

        <!-- Note -->
        <div class="input-wrapper">
            <textarea
                class="input"
                id="note"
                name="note"
                rows="4"
                placeholder="Add a note..."
            ></textarea>
        </div>

        <button type="submit" class="button">
            Add
        </button>
    </form>
</main>
{% endblock %}
