<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/general.css">
        {% block styles %}{% endblock %}
        <title>{% block title %}Dashboard{% endblock %} - Tracker</title>
    </head>
    <body>
        <header>
            <a class="branding" href="/">ProgressTracker</a>
            <nav class="navigation-bar">
                <a class="nav-link {% if request.endpoint == 'index_view' %}active{% endif %}" href="{{ url_for('index_view') }}">
                    Home
                </a>
                <a class="nav-link {% if request.endpoint == 'add_view' %}active{% endif %}" href="{{ url_for('add_view') }}">
                    Add
                </a>
            </nav>
        </header>

        {% if error %}
        <div class="error-container">
            <p class="error">{{ error }}</p>
        </div>
        {% endif %}
        {% block body %}
        <p>Hello World!</p>
        {% endblock %}
    </body>
</html>
